{% extends "base.html" %}

{% block content %}
<script>
  $(document).ready(function() {
    setInterval(function() {
      var title = document.title;
      if (window.turn && window.stage == 4) {
        document.title = (title == "80 Points" ? "Your Turn!" : "80 Points");
      } else {
        document.title = "80 Points";
      }
    }, 1000);
    $("#refresh-btn").click(function() {
      load(true);
    });
    $.getJSON("{% url 'main.views.status' game.id %}", function(data) {
      var play_btn = $("#play-btn");
      if (!data.ready) {
        play_btn.text("Ready");
        play_btn.click(function() {
          play_btn.text("Play");
          $.ajax("{% url 'main.views.ready' game.id %}")
            .success(function() {
              move(play_btn);
              load(true);
            });
        });
      } else {
        move(play_btn);
        load(true);
      }
    });
  });

  function load(force) {
    clearTimeout(window.handle);
    $.getJSON("{% url 'main.views.status' game.id %}", function(data) {
      if (data.status.trump_suit) {
        $("#trump-suit").text("Trump Suit: "+data.status.trump_suit);
      }
      $("#trump-rank").text("Trump Rank: "+data.status.trump_rank);

      if (data.stage == 5) {
        $("#turn").text("Winner: "+data.winner+" ("+data.points+")");
      } else {
        $("#turn").text("Turn: "+data.status.turn);
      }

      if (data.reserve) {
        var reserve = $("#reserve");
        if (reserve.length == 0) {
          var $buttons = $("#buttons");
          if (data.friend) {
            var $form = $("<form>");
            var $select = $("<select>").addClass("form-control");
          }
          $buttons.append($("<button id='reserve' class='btn btn-success'>Pickup Kitty</button>")
            .click(function() {
              $.post("{% url 'reserve' game.id %}", {csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
                if (data) {
                  alert(data);
                } else {
                  $("#reserve").remove();
                  load(true);
                }
              });
            })
          );
        }
      }

      window.stage = data.stage;
      if (data.stage == 4) {
        var play_btn = $("#play-btn");
        if (data.turn) {
          window.turn = true;
          play_btn.removeAttr("disabled", "disabled");
          play_btn.off("click");
          play_btn.click(function() {
            var a = [];
            $("#play").children("img").each(function() {
              a.push($(this).attr("class"));
            });
            $.post("{% url 'play' game.id %}", {data: a.join(","), csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
              if (data) {
                alert(data);
              } else {
                load(true);
              }
            });
          });
        } else {
          window.turn = false;
          play_btn.attr("disabled", "disabled");
          play_btn.off("click");
        }
      }

      var hand = data.hand;
      var cards;
      if (force) {
        $("#hand").empty();
        $("#play").empty();
        cards = hand.cards;
      } else {
        cards = hand.new_cards;
      }

      for (var i = 0; i < cards.length; i++) {
        $("#hand")
          .append(
            $("<img src='{{ STATIC_URL }}"+cards[i].image+"' class="+cards[i].card+">")
              .click(function() {
                play(this);
              }
            )
          );
      }

      var players = data.players;
      for (i = 0; i < players.length; i++) {
        var player = players[i];
        var $player = $("#"+player.name);
        var $playerButton = $player.children("button").attr("class", "btn").text(player.name+" ("+player.points+")");
        if (data.stage == 1) {
          if (player.ready) {
            $playerButton.addClass("btn-success");
          } else {
            $playerButton.addClass("btn-danger");
          }
        } else {
          if (player.team == 'A') {
            $playerButton.addClass("btn-danger");
          } else {
            $playerButton.addClass("btn-primary");
          }
        }
        $player.children("img").remove();
        cards = player.cards;
        for (var j = 0; j < cards.length; j++) {
          $player.append($("<img src='{{ STATIC_URL }}"+cards[j].image+"'>"));
        }
      }
    });
    window.handle = setTimeout(function() {
      load(false);
    }, 2000);
  }
  function play(e) {
    $(e).remove();
    $(e).click(function() {
      ret(e);
    });
    $("#play").append(e);
  }
  function ret(e) {
    $(e).remove();
    $(e).click(function() {
      play(e);
    });
    $("#hand").append(e);
  }
  function move(e) {
    e.off("click");
    e.click(function() {
      var a = [];
      $("#play").children("img").each(function() {
        a.push($(this).attr("class"));
      });
      $.post("{% url 'main.views.play' game.id %}", {data: a.join(","), csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
        if (data) {
          alert(data);
        } else {
          load(true);
        }
      });
    });
  }
</script>
<div id="status">
  <span id="trump-suit"></span>
  <span id="trump-rank"></span>
  <span id="turn"></span>
</div>
<div class="col-md-8">
  <h4>Hand</h4>
  <div id="hand"></div>
  <h4>Play</h4>
  <div id="play"></div>
  <div id="buttons">
    <button id="play-btn" class="btn btn-primary">Play</button>
    <button id="refresh-btn" class="btn btn-default">Refresh</button>
  </div>
</div>
<div id="players" class="col-md-4">
{% for player in game.gameplayer_set.all %}
<div id={{ player }}><button class="btn {% if player.ready %}btn-success{% else %}btn-danger{% endif %}">{{ player }}</button></div>
{% endfor %}
</div>
{% endblock %}
