{% extends "base.html" %}

{% block content %}
  <div class="col-md-8">
    {% for game in games %}
      <h4><a href="{% url 'game' game.id %}">Game #{{ game.id }}</a></h4>
      <ul class="list-unstyled">
        <li>{{ game.get_status }}</li>
        <li>{{ game.get_players_names }}</li>
      </ul>
    {% endfor %}
    <a href="{% url 'new_game' %}"><button class="btn btn-primary">New game</button></a>
  </div>
  <div class="col-md-4">
    <h4>Leaderboard</h4>
    <table class="table">
      {% for player in players %}
        <tr>
          <td>{{ player }}</td>
          <td>{{ player.get_rank }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
